appnope
asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
contourpy
cycler
decorator
defusedxml
docopt
executing
fastjsonschema
fonttools
h5py
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
pillow
pip-chill
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
pyberny
Pygments
pyparsing
pyscf
python-dateutil
pytz
pyzmq
referencing
requests
rpds-py
scipy
seaborn
six
soupsieve
stack-data
tinycss2
tornado
traitlets
typing_extensions
tzdata
urllib3
wcwidth
webencodings
yarg
